
.title { 
  color: var(--color-primary);
  font-size: 4rem;
  text-align: center;
  margin: 2rem 0 1rem;
}

.title .query-text {
  color: #f7d354;
}

.movies-conteiner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.movies-conteiner div {
  width: 30%;
  color: var(--color-text);
  margin-bottom: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--color-card);
  padding: 1rem;
}

.movies-conteiner div img {
  max-width: 100%;
}

.movies-conteiner div img,
.movies-conteiner div p {
  margin-bottom: 1rem;
}

.movies-conteiner div h2 {
  margin-bottom: 1.5rem;
}

.movies-conteiner div svg {
  color: var(--color-primary);
}

.movies-conteiner div a {
  background-color: var(--color-primary);
  border: 2px solid var(--color-primary);
  border-radius: 4px;
  color: var(--color-primary-contrast);
  padding: 1rem 0.5rem;
  text-align: center;
  font-weight: bold;
  transition: 0.4s;
}

.movies-conteiner div a:hover {
  background-color: transparent;
  color: var(--color-primary);
  border-color: var(--color-primary);
}
